In [1]:
import numpy as  np
import pandas as pd
import json

In [3]:
#Opening Json Data
with open('states_daily.json') as f:
    states_daily = json.load(f)

In [4]:
#Preparing Data Frame
print(states_daily['states_daily'][0].keys())
#Getting Columns
columnNames = list(states_daily['states_daily'][0].keys())
print(columnNames)
len(states_daily['states_daily'])
#Getting Each Instanes
rows = [list(states_daily['states_daily'][i].values()) for i in range(len(states_daily['states_daily']))]
rowsArray = np.array(rows)
dataframe = pd.DataFrame(data= rowsArray, columns= columnNames)
dataframe.head(5)

dict_keys(['an', 'ap', 'ar', 'as', 'br', 'ch', 'ct', 'date', 'dd', 'dl', 'dn', 'ga', 'gj', 'hp', 'hr', 'jh', 'jk', 'ka', 'kl', 'la', 'ld', 'mh', 'ml', 'mn', 'mp', 'mz', 'nl', 'or', 'pb', 'py', 'rj', 'sk', 'status', 'tg', 'tn', 'tr', 'tt', 'un', 'up', 'ut', 'wb'])
['an', 'ap', 'ar', 'as', 'br', 'ch', 'ct', 'date', 'dd', 'dl', 'dn', 'ga', 'gj', 'hp', 'hr', 'jh', 'jk', 'ka', 'kl', 'la', 'ld', 'mh', 'ml', 'mn', 'mp', 'mz', 'nl', 'or', 'pb', 'py', 'rj', 'sk', 'status', 'tg', 'tn', 'tr', 'tt', 'un', 'up', 'ut', 'wb']

,an,ap,ar,as,br,ch,ct,date,dd,dl,...,sk,status,tg,tn,tr,tt,un,up,ut,wb
0,0,1,0,0,0,0,0,14-Mar-20,0,7,...,0,Confirmed,1,1,0,81,0,12,0,0
1,0,0,0,0,0,0,0,14-Mar-20,0,1,...,0,Recovered,0,0,0,9,0,4,0,0
2,0,0,0,0,0,0,0,14-Mar-20,0,1,...,0,Deceased,0,0,0,2,0,0,0,0
3,0,0,0,0,0,0,0,15-Mar-20,0,0,...,0,Confirmed,2,0,0,27,0,1,0,0
4,0,0,0,0,0,0,0,15-Mar-20,0,1,...,0,Recovered,1,0,0,4,0,0,0,0

In [9]:
#Preprocessing of Data
arr = columnNames[0:]
arr.remove('date')
arr.remove('status')
for item in arr:
    dataframe[item] = dataframe[item].astype(int)

dataframe['date'] = pd.to_datetime(dataframe['date'])
filterStatusConfirmed = dataframe.loc[dataframe['status'] == 'Confirmed']
filterStatusRecovered = dataframe.loc[dataframe['status'] == 'Recovered']
filterStatusDeceased = dataframe.loc[dataframe['status'] == 'Deceased']
#filterStatusDeceased.head(5)

,an,ap,ar,as,br,ch,ct,date,dd,dl,...,sk,status,tg,tn,tr,tt,un,up,ut,wb
2,0,0,0,0,0,0,0,2020-03-14,0,1,...,0,Deceased,0,0,0,2,0,0,0,0
5,0,0,0,0,0,0,0,2020-03-15,0,0,...,0,Deceased,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,2020-03-16,0,0,...,0,Deceased,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,2020-03-17,0,0,...,0,Deceased,0,0,0,1,0,0,0,0
14,0,0,0,0,0,0,0,2020-03-18,0,0,...,0,Deceased,0,0,0,0,0,0,0,0

In [18]:
#Answer1_1  (If we get date from user and pass that date while comparing it is genralized)
marchToSept1_Confirmed = filterStatusConfirmed[(filterStatusConfirmed['date'] >= '2020-03-14') & (filterStatusConfirmed['date'] <= '2020-09-05')]
marchToSept1_Recovered= filterStatusRecovered[(filterStatusRecovered['date'] >= '2020-03-14') & (filterStatusRecovered['date'] <= '2020-09-05')]
marchToSept1_Deceased = filterStatusDeceased[(filterStatusDeceased['date'] >= '2020-03-14') & (filterStatusDeceased['date'] <= '2020-09-05')]
print("Confirmed:{0} \nRecovered : {1}\nDeceased : {2}".format(marchToSept1_Confirmed['tt'].sum() , marchToSept1_Recovered['tt'].sum() , marchToSept1_Deceased['tt'].sum() ))

an  ap  ar  as  br  ch  ct       date  dd  dl  ...  sk     status  tg  tn  \
1    0   0   0   0   0   0   0 2020-03-14   0   1  ...   0  Recovered   0   0
4    0   0   0   0   0   0   0 2020-03-15   0   1  ...   0  Recovered   1   0
7    0   0   0   0   0   0   0 2020-03-16   0   0  ...   0  Recovered   0   1
10   0   0   0   0   0   0   0 2020-03-17   0   0  ...   0  Recovered   0   0
13   0   0   0   0   0   0   0 2020-03-18   0   0  ...   0  Recovered   0   0

    tr  tt  un  up  ut  wb
1    0   9   0   4   0   0
4    0   4   0   0   0   0
7    0   1   0   0   0   0
10   0   1   0   1   0   0
13   0   0   0   0   0   0

[5 rows x 41 columns]
Confirmed:4110211
Recovered : 3177666
Deceased : 70094

In [20]:
#Answer1_2
print("Confirmed:{0} \nRecovered : {1}\nDeceased : {2}".format(marchToSept1_Confirmed['dl'].sum() , marchToSept1_Recovered['dl'].sum() , marchToSept1_Deceased['dl'].sum() ))

Confirmed:188193
Recovered : 163785
Deceased : 4538

In [23]:
#Answer1_3
print(" Total Confirmed Cases in Delhi and Maharashtra  = {}".format(marchToSept1_Confirmed['dl'].sum() + marchToSept1_Confirmed['mh'].sum()))
print(" Total Recovered Cases in Delhi and Maharashtra  = {}".format(marchToSept1_Recovered['dl'].sum() + marchToSept1_Recovered['mh'].sum()))
print(" Total Deceased Cases in Delhi and Maharashtra  = {}".format(marchToSept1_Deceased['dl'].sum() + marchToSept1_Deceased['mh'].sum()))

Total Confirmed Cases in Delhi and Maharashtra  = 1072055
 Total Confirmed Cases in Delhi and Maharashtra  = 800359
 Total Confirmed Cases in Delhi and Maharashtra  = 30813

In [19]:
print("Delhi + Maharashtra = {}".format(marchToSept1['dl'].sum() + marchToSept1['mh'].sum()))

Delhi + Maharashtra = 1072055

In [20]:
arr.remove('tt')

In [21]:
max = 0
state = ''
for item in arr:
    count = marchToSept1[item].sum()
    if count > max:
        max = count
        state = item

In [22]:
print("Max cases are from state '{}' and count is {}".format(state, max))

Max cases are from state 'mh' and count is 883862