In [1]:
import numpy as  np
import pandas as pd
import json

In [3]:
#Opening Json Data
with open('states_daily.json') as f:
    states_daily = json.load(f)

In [93]:
#Preparing Data Frame
print(states_daily['states_daily'][0].keys())
#Getting Columns
columnNames = list(states_daily['states_daily'][0].keys())
print(columnNames)
len(states_daily['states_daily'])
#Getting Each Instanes
rows = [list(states_daily['states_daily'][i].values()) for i in range(len(states_daily['states_daily']))]
rowsArray = np.array(rows)
dataframe = pd.DataFrame(data= rowsArray, columns= columnNames)
dataframe.head(5)

dict_keys(['an', 'ap', 'ar', 'as', 'br', 'ch', 'ct', 'date', 'dd', 'dl', 'dn', 'ga', 'gj', 'hp', 'hr', 'jh', 'jk', 'ka', 'kl', 'la', 'ld', 'mh', 'ml', 'mn', 'mp', 'mz', 'nl', 'or', 'pb', 'py', 'rj', 'sk', 'status', 'tg', 'tn', 'tr', 'tt', 'un', 'up', 'ut', 'wb'])
['an', 'ap', 'ar', 'as', 'br', 'ch', 'ct', 'date', 'dd', 'dl', 'dn', 'ga', 'gj', 'hp', 'hr', 'jh', 'jk', 'ka', 'kl', 'la', 'ld', 'mh', 'ml', 'mn', 'mp', 'mz', 'nl', 'or', 'pb', 'py', 'rj', 'sk', 'status', 'tg', 'tn', 'tr', 'tt', 'un', 'up', 'ut', 'wb']

,an,ap,ar,as,br,ch,ct,date,dd,dl,...,sk,status,tg,tn,tr,tt,un,up,ut,wb
0,0,1,0,0,0,0,0,14-Mar-20,0,7,...,0,Confirmed,1,1,0,81,0,12,0,0
1,0,0,0,0,0,0,0,14-Mar-20,0,1,...,0,Recovered,0,0,0,9,0,4,0,0
2,0,0,0,0,0,0,0,14-Mar-20,0,1,...,0,Deceased,0,0,0,2,0,0,0,0
3,0,0,0,0,0,0,0,15-Mar-20,0,0,...,0,Confirmed,2,0,0,27,0,1,0,0
4,0,0,0,0,0,0,0,15-Mar-20,0,1,...,0,Recovered,1,0,0,4,0,0,0,0

In [95]:
#Preprocessing of Data
arr = columnNames[0:]
arr.remove('date')
arr.remove('status')
for item in arr:
    dataframe[item] = dataframe[item].astype(int)

dataframe['date'] = pd.to_datetime(dataframe['date'])
filterStatusConfirmed = dataframe.loc[dataframe['status'] == 'Confirmed']
filterStatusRecovered = dataframe.loc[dataframe['status'] == 'Recovered']
filterStatusDeceased = dataframe.loc[dataframe['status'] == 'Deceased']
union_terr=['dl','an','jk','la','dn','py','cg','ld',] 
state=[]
for item in arr:
    if item in union_terr or item=='un' or item=='dd' or item=='tt':
        continue
    state.append(item)
print(state)
#filterStatusDeceased.head(5)

['ap', 'ar', 'as', 'br', 'ch', 'ct', 'ga', 'gj', 'hp', 'hr', 'jh', 'ka', 'kl', 'mh', 'ml', 'mn', 'mp', 'mz', 'nl', 'or', 'pb', 'rj', 'sk', 'tg', 'tn', 'tr', 'up', 'ut', 'wb']

In [18]:
#Answer1_1  (If we get date from user and pass that date while comparing it is genralized)
marchToSept1_Confirmed = filterStatusConfirmed[(filterStatusConfirmed['date'] >= '2020-03-14') & (filterStatusConfirmed['date'] <= '2020-09-05')]
marchToSept1_Recovered= filterStatusRecovered[(filterStatusRecovered['date'] >= '2020-03-14') & (filterStatusRecovered['date'] <= '2020-09-05')]
marchToSept1_Deceased = filterStatusDeceased[(filterStatusDeceased['date'] >= '2020-03-14') & (filterStatusDeceased['date'] <= '2020-09-05')]
print("Confirmed:{0} \nRecovered : {1}\nDeceased : {2}".format(marchToSept1_Confirmed['tt'].sum() , marchToSept1_Recovered['tt'].sum() , marchToSept1_Deceased['tt'].sum() ))

an  ap  ar  as  br  ch  ct       date  dd  dl  ...  sk     status  tg  tn  \
1    0   0   0   0   0   0   0 2020-03-14   0   1  ...   0  Recovered   0   0
4    0   0   0   0   0   0   0 2020-03-15   0   1  ...   0  Recovered   1   0
7    0   0   0   0   0   0   0 2020-03-16   0   0  ...   0  Recovered   0   1
10   0   0   0   0   0   0   0 2020-03-17   0   0  ...   0  Recovered   0   0
13   0   0   0   0   0   0   0 2020-03-18   0   0  ...   0  Recovered   0   0

    tr  tt  un  up  ut  wb
1    0   9   0   4   0   0
4    0   4   0   0   0   0
7    0   1   0   0   0   0
10   0   1   0   1   0   0
13   0   0   0   0   0   0

[5 rows x 41 columns]
Confirmed:4110211
Recovered : 3177666
Deceased : 70094

In [20]:
#Answer1_2
print("Confirmed:{0} \nRecovered : {1}\nDeceased : {2}".format(marchToSept1_Confirmed['dl'].sum() , marchToSept1_Recovered['dl'].sum() , marchToSept1_Deceased['dl'].sum() ))

Confirmed:188193
Recovered : 163785
Deceased : 4538

In [23]:
#Answer1_3
print(" Total Confirmed Cases in Delhi and Maharashtra  = {}".format(marchToSept1_Confirmed['dl'].sum() + marchToSept1_Confirmed['mh'].sum()))
print(" Total Recovered Cases in Delhi and Maharashtra  = {}".format(marchToSept1_Recovered['dl'].sum() + marchToSept1_Recovered['mh'].sum()))
print(" Total Deceased Cases in Delhi and Maharashtra  = {}".format(marchToSept1_Deceased['dl'].sum() + marchToSept1_Deceased['mh'].sum()))

Total Confirmed Cases in Delhi and Maharashtra  = 1072055
 Total Confirmed Cases in Delhi and Maharashtra  = 800359
 Total Confirmed Cases in Delhi and Maharashtra  = 30813

In [45]:
#Answer 1_4

max1 = 0
max2 = 0
max3 = 0

state_conf = ''
state_rec = ''
state_dec = ''
for item in arr:
    if item=='tt' or item in union_terr or item== 'un':
        continue
    count_conf = marchToSept1_Confirmed[item].sum()
    count_rec = marchToSept1_Recovered[item].sum()
    count_dec = marchToSept1_Deceased[item].sum()
    if count_conf > max1:
        max1 = count_conf
        state_conf = item
    if count_rec > max2:
        max2 = count_rec
        state_rec = item
    if count_dec > max3:
        max3 = count_dec
        state_dec = item
print("Highest Infected State is '{0}'' with total number of Confirmed cases {1}".format(state_conf,max1))
print("Highest Recovered Person State is '{0}'' with total number of Recoverd cases {1}".format(state_rec,max2))
print("Highest Infected State is '{0}' with total number of Deac cases {1}".format(state_dec,max3))

Highest Infected State is 'mh'' with total number of Confirmed cases 883862
Highest Recovered Person State is 'mh'' with total number of Recoverd cases 636574
Highest Infected State is 'mh' with total number of Deac cases 26275

In [90]:
#Answer 1_5
min1 = float('inf')
min2 = float('inf')
min3 = float('inf')
arr.remove('dd') # Daman and Diu will merge into Dadra and Nagar Haveli
l_state_conf = ''
l_state_rec = ''
l_state_dec = ''
for item in arr:
    if item =='tt' or item in union_terr or item =='un':
        continue
    count_conf = marchToSept1_Confirmed[item].sum()
    count_rec = marchToSept1_Recovered[item].sum()
    count_dec = marchToSept1_Deceased[item].sum()
    if count_conf < min1:
        min1 = count_conf
        l_state_conf = item
    if count_rec < min2:
        min2 = count_rec
        l_state_rec = item
    if count_dec < min3:
        min3 = count_dec
        l_state_dec = item

print("Lowest Infected State is '{0}'' with total number of Confirmed cases {1}".format(l_state_conf,min1))
print("Lowest Recovered Person's State is '{0}'' with total number of Recoverd cases {1}".format(l_state_rec,min2))
print("Lowest Infected State is '{0}' with total number of Deac cases {1}".format(l_state_dec,min3))

Lowest Infected State is 'mz'' with total number of Confirmed cases 1062
Lowest Recovered Person's State is 'mz'' with total number of Recoverd cases 713
Lowest Infected State is 'mz' with total number of Deac cases 0

In [88]:

#Answer 1_6
index_max_con=marchToSept1_Confirmed['dl'].idxmax()
index_max_rec=marchToSept1_Recovered['dl'].idxmax()
index_max_dec=marchToSept1_Deceased['dl'].idxmax()

date_conf=marchToSept1_Confirmed.at[index_max_con,'date']
date_conf=date_conf.date()
date_rec=marchToSept1_Recovered.at[index_max_rec,'date']
date_rec=date_rec.date()
date_dec=marchToSept1_Deceased.at[index_max_dec,'date']
date_dec=date_dec.date()


print("Highest Number of Confirmed cases in a Single day in Delhi is {0} on {1}".format(marchToSept1_Confirmed['dl'].max(),date_conf))
print("Highest Number of Recovered cases in a Single day in Delhi is {0} on {1}".format(marchToSept1_Recovered['dl'].max(),date_rec))
print("Highest Number of Deceased cases in a Single day in Delhi is {0} on {1}".format(marchToSept1_Deceased['dl'].max(),date_dec))

Highest Number of Confirmed cases in a Single day in Delhi is 3947 on 2020-06-23
Highest Number of Recovered cases in a Single day in Delhi is 7725 on 2020-06-20
Highest Number of Deceased cases in a Single day in Delhi is 437 on 2020-06-16

In [99]:
#answer 1_7
print(state)
for s in state:
    sum_conf = marchToSept1_Confirmed[s].sum()
    sum_rec = marchToSept1_Recovered[s].sum()
    sum_dec = marchToSept1_Deceased[s].sum()
    active=sum_conf -(sum_rec + sum_dec)
    print(" '{0}' :: {1} ".format(s,active))

['ap', 'ar', 'as', 'br', 'ch', 'ct', 'ga', 'gj', 'hp', 'hr', 'jh', 'ka', 'kl', 'mh', 'ml', 'mn', 'mp', 'mz', 'nl', 'or', 'pb', 'rj', 'sk', 'tg', 'tn', 'tr', 'up', 'ut', 'wb']
 'ap' :: 100880
 'ar' :: 1525
 'as' :: 28404
 'br' :: 16735
 'ch' :: 2143
 'ct' :: 22320
 'ga' :: 4945
 'gj' :: 16266
 'hp' :: 2023
 'hr' :: 14912
 'jh' :: 14980
 'ka' :: 100224
 'kl' :: 21867
 'mh' :: 221013
 'ml' :: 1374
 'mn' :: 1872
 'mp' :: 15687
 'mz' :: 349
 'nl' :: 701
 'or' :: 25856
 'pb' :: 15870
 'rj' :: 14996
 'sk' :: 561
 'tg' :: 32405
 'tn' :: 51580
 'tr' :: 5905
 'up' :: 59963
 'ut' :: 7649
 'wb' :: 23390